## Dataset escolhido 

- https://www.kaggle.com/datasets/fedesoriano/heart-failure-prediction


## About Dataset
### Similar Datasets
---

- Hepatitis C Dataset: LINK
- Body Fat Prediction Dataset: LINK
- Cirrhosis Prediction Dataset: LINK
- Stroke Prediction Dataset: LINK
- Stellar Classification Dataset - SDSS17: LINK
- Wind Speed Prediction Dataset: LINK
- Spanish Wine Quality Dataset: LINK


### Context

Cardiovascular diseases (CVDs) are the number 1 cause of death globally, taking an estimated 17.9 million lives each year, which accounts for 31% of all deaths worldwide. Four out of 5CVD deaths are due to heart attacks and strokes, and one-third of these deaths occur prematurely in people under 70 years of age. Heart failure is a common event caused by CVDs and this dataset contains 11 features that can be used to predict a possible heart disease.

People with cardiovascular disease or who are at high cardiovascular risk (due to the presence of one or more risk factors such as hypertension, diabetes, hyperlipidaemia or already established disease) need early detection and management wherein a machine learning model can be of great help.

Attribute Information
- Age: age of the patient [years]
- Sex: sex of the patient [M: Male, F: Female]
- ChestPainType: chest pain type [TA: Typical Angina, ATA: Atypical Angina, NAP: Non-Anginal Pain, ASY: Asymptomatic]
-  RestingBP: resting blood pressure [mm Hg]
- Cholesterol: serum cholesterol [mm/dl]
- FastingBS: fasting blood sugar [1: if FastingBS > 120 mg/dl, 0: otherwise]
- RestingECG: resting electrocardiogram results [Normal: Normal, ST: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV), LVH: showing probable or definite left ventricular hypertrophy by Estes' criteria]
- MaxHR: maximum heart rate achieved [Numeric value between 60 and 202]
- ExerciseAngina: exercise-induced angina [Y: Yes, N: No]
- Oldpeak: oldpeak = ST [Numeric value measured in depression]
- ST_Slope: the slope of the peak exercise ST segment [Up: upsloping, Flat: flat, Down: downsloping]
- HeartDisease: output class [1: heart disease, 0: Normal]


## Source
This dataset was created by combining different datasets already available independently but not combined before. In this dataset, 5 heart datasets are combined over 11 common features which makes it the largest heart disease dataset available so far for research purposes. The five datasets used for its curation are:

Cleveland: 303 observations
Hungarian: 294 observations
Switzerland: 123 observations
Long Beach VA: 200 observations
Stalog (Heart) Data Set: 270 observations
Total: 1190 observations
Duplicated: 272 observations

Final dataset: 918 observations

Every dataset used can be found under the Index of heart disease datasets from UCI Machine Learning Repository on the following link: https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/

Citation
fedesoriano. (September 2021). Heart Failure Prediction Dataset. Retrieved [Date Retrieved] from https://www.kaggle.com/fedesoriano/heart-failure-prediction.

Acknowledgements
Creators:

Hungarian Institute of Cardiology. Budapest: Andras Janosi, M.D.
University Hospital, Zurich, Switzerland: William Steinbrunn, M.D.
University Hospital, Basel, Switzerland: Matthias Pfisterer, M.D.
V.A. Medical Center, Long Beach and Cleveland Clinic Foundation: Robert Detrano, M.D., Ph.D.
Donor:
David W. Aha (aha '@' ics.uci.edu) (714) 856-8779

## Instalando Dependencias

In [2]:
!pip install -r requirements.txt

Collecting pandas
  Using cached pandas-1.4.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
Collecting matplotlib
  Downloading matplotlib-3.5.2-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (11.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 18.6 MB/s eta 0:00:00m eta 0:00:010:0101
Collecting seaborn
  Using cached seaborn-0.11.2-py3-none-any.whl (292 kB)
Requirement already satisfied: pytz>=2020.1 in /home/juan-nascimento/Modelos/atividade-oficina-maker/env/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 1)) (2022.1)
Collecting numpy>=1.18.5
  Downloading numpy-1.22.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.9/16.9 MB 24.7 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: python-dateutil>=2.8.1 in /home/juan-nascimento/Modelos/atividade-oficina-maker/env/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 1)) (2.8.2)
Collecting cycler>=0.10
  Using cached cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: packaging>=20.0 in /home/juan-nascimento/Modelos/atividade-oficina-maker/env/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 2)) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in /home/juan-nascimento/Modelos/atividade-oficina-maker/env/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 2)) (3.0.9)
Collecting pillow>=6.2.0
  Downloading Pillow-9.1.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 35.5 MB/s eta 0:00:0031m43.1 MB/s eta 0:00:01
Collecting fonttools>=4.22.0
  Downloading fonttools-4.33.3-py3-none-any.whl (930 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 930.9/930.9 KB 14.8 MB/s eta 0:00:0031m57.9 MB/s eta 0:00:01
Collecting kiwisolver>=1.0.1
  Using cached kiwisolver-1.4.2-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.2 MB)
Collecting scipy>=1.0
  Downloading scipy-1.8.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (41.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.6/41.6 MB 24.1 MB/s eta 0:00:00m eta 0:00:010:01:01
Requirement already satisfied: six>=1.5 in /home/juan-nascimento/Modelos/atividade-oficina-maker/env/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas->-r requirements.txt (line 1)) (1.16.0)
Installing collected packages: pillow, numpy, kiwisolver, fonttools, cycler, scipy, pandas, matplotlib, seaborn
Successfully installed cycler-0.11.0 fonttools-4.33.3 kiwisolver-1.4.2 matplotlib-3.5.2 numpy-1.22.4 pandas-1.4.2 pillow-9.1.1 scipy-1.8.1 seaborn-0.11.2
WARNING: You are using pip version 22.0.4; however, version 22.1.1 is available.
You should consider upgrading via the '/home/juan-nascimento/Modelos/atividade-oficina-maker/env/bin/python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd

In [7]:
!unzip "../base/archive (1).zip"

Archive:  ../base/archive (1).zip
  inflating: heart.csv

## Carregando Base

In [15]:
df = pd.read_csv("heart.csv")

In [17]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [18]:
df.groupby("RestingECG").count()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
RestingECG,,,,,,,,,,,
LVH,188,188,188,188,188,188,188,188,188,188,188
Normal,552,552,552,552,552,552,552,552,552,552,552
ST,178,178,178,178,178,178,178,178,178,178,178

In [19]:
df.groupby("ChestPainType").count()

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
ChestPainType,,,,,,,,,,,
ASY,496,496,496,496,496,496,496,496,496,496,496
ATA,173,173,173,173,173,173,173,173,173,173,173
NAP,203,203,203,203,203,203,203,203,203,203,203
TA,46,46,46,46,46,46,46,46,46,46,46

In [20]:
df.groupby("ST_Slope").count()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,HeartDisease
ST_Slope,,,,,,,,,,,
Down,63,63,63,63,63,63,63,63,63,63,63
Flat,460,460,460,460,460,460,460,460,460,460,460
Up,395,395,395,395,395,395,395,395,395,395,395

In [21]:
df.groupby("Sex").count()

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
Sex,,,,,,,,,,,
F,193,193,193,193,193,193,193,193,193,193,193
M,725,725,725,725,725,725,725,725,725,725,725

## Dicionario de dados para transformação


| Coluna | Original | Transformado |   |   |
|--------|----------|--------------|---|---|
|    Sex    |     F/N     |  F=1 e M=2    |   |   |
|      ST_Slope   |      Down,Flat, Up    |    Down=1,Flat=2,Up=3           |   |   |
|  ChestPainType      |     ASY, ATA, NAP, TA     | ASY=1, ATA=2,NAP=3,TA=4 |   |   |
|  RestingECG      |     LVH, Normal, ST     | LVH=1, Normal=2,ST=3         |   |   |

## Transform colum Sex

In [5]:
df['Sex'] = df['Sex'].apply(lambda item: 1 if item == "F" else 2)

In [6]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,2,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,1,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,2,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,1,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,2,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,2,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,2,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,2,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,1,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,2,NAP,138,175,0,Normal,173,N,0.0,Up,0

## Transform colum ST_Slope

In [9]:

def normalize_st_slope(val):
    if val == 'Up':
        return 3
    if val == 'Flat':
        return 2
    if val == 'Down':    
        return 1

df['ST_Slope'] = df['ST_Slope'].apply(normalize_st_slope)

## Transform colum RestingECG

In [14]:

def normalize_RestingECG(val):
    print(val)
    if val == 'ASY':
        return 1
    if val == 'ATA':
        return 2
    if val == 'NAP':    
        return 3
    if val == 'TA':    
        return 4

df['RestingECG'] = df['RestingECG'].apply(normalize_RestingECG)

None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None

In [13]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,2,ATA,140,289,0,None,172,N,0.0,3,0
1,49,1,NAP,160,180,0,None,156,N,1.0,2,1
2,37,2,ATA,130,283,0,None,98,N,0.0,3,0
3,48,1,ASY,138,214,0,None,108,Y,1.5,2,1
4,54,2,NAP,150,195,0,None,122,N,0.0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,2,TA,110,264,0,None,132,N,1.2,2,1
914,68,2,ASY,144,193,1,None,141,N,3.4,2,1
915,57,2,ASY,130,131,0,None,115,Y,1.2,2,1
916,57,1,ATA,130,236,0,None,174,N,0.0,2,1
917,38,2,NAP,138,175,0,None,173,N,0.0,3,0

## Transform colum ChestPainType

## Base normalizada

In [ ]:
df.to_csv("base_normalizada.csv",index=False)